vm-menu.vm-date(
    v-bind="$attrs"
    ref="menu"
    contentClass="vm-date__popup"
)
    vm-input(
        slot="trigger"
        :label="label"
        :value="fieldValue"
        :placeholder="placeholder"
        :box="box"
        :size="size"
        readonly
    )
        vm-button.vm-date__trigger(
            slot="right"
            icon="event"
            :disabled="disabled"
            :tabindex="tabindex"
        )

    .vm-date__header.box-primary(
        v-if="view === 'extended'"
    )
        .vm-date__header-year(
            :class="{
                'is--active': state === 'year',
                'is--disabled': years.length === 1,
            }"
            @click="changeState('year')"
        ) {{ inputYear }}

        .vm-date__header-date(
            v-if="emitValueDate"
            :class="{ 'is--active': /day|month/.test(state) }"
            @click="changeState('day')"
        )
            .vm-date__header-daymonth
                span.vm-date__header-day {{ emitValueDate.getDate() }}
                span.vm-date__header-month {{ emitValueDate.getMonth() | decMonth }}
            .vm-date__header-weekday {{ emitValueDate | weekday }}

        .vm-date__header-time(
            v-if="type === 'time'"
            :class="{
                'is--active': state === 'time'
            }"
            @click="changeState('time')"
        )
            span {{ inputHours | pad }}
            span :
            span {{ inputMinutes | pad }}

        vm-button.vm-date__header-today(
            @click="today"
        ) Сегодня

    .vm-date__wrapper
        .vm-date__toolbar(v-if="state !== 'year'")
            vm-button(
                :class="{
                    'vm-date__toolbar-button--hidden': !prevArrowEnabled,
                }"
                icon="keyboard_arrow_left"
                :noshadow="true"
                @click="toolbarLeftClick"
            )

            .vm-date__toolbar-title(
                :class="{
                    'vm-date__toolbar-title--disabled': !prevStateEnabled
                }"
                @click="prevState"
            ) {{ toolbarTitle }}

            vm-button(
                :class="{
                    'vm-date__toolbar-button--hidden': !nextArrowEnabled,
                }"
                icon="keyboard_arrow_right"
                :noshadow="true"
                @click="toolbarRightClick"
            )

        .vm-date__content
            ul.vm-date__years(
                v-show="state === 'year'"
                ref="years"
            )
                li.vm-date__years-item.fill-action(
                    v-for="year in years"
                    :key="year"
                    :class="{ 'is--active': year === inputYear }"
                    @click="setYear(year)"
                ) {{ year }}

            .vm-date__months(
                v-if="state === 'month'"
            )
                vm-button(
                    v-for="(month, idx) in months"
                    :key="id"
                    :disabled="month.disabled"
                    @click="setMonth(idx)"
                ) {{ month.name }}

            .vm-date__days(
                v-if="state === 'day'"
            )
                .vm-date__days-weekdays
                    .vm-date__days-weekday(
                        v-for="idx in [0, 1, 2, 3, 4, 5, 6]"
                    ) {{ idx | shortWeekdayNameByIndex }}

                .vm-date__days-items
                    .vm-date__day(
                        v-for="day in days"
                        :key="day.key"
                    )
                        .vm-date__day-wrapper(
                            :data-value="day.key"
                            :class="{
                                'is--disabled': day.disabled,
                                'is--outside': day.prev || day.next,
                                'is--active': day.active,
                                'is--now': day.today,
                            }"
                            @click="setDay(day)"
                        ) {{ day.value || '' }}

            .vm-date__time(
                v-if="state === 'time'"
            )
                .vm-date__time-wrapper
                    .vm-date__time-item {{ inputHours | pad }}
                    .vm-date__time-div :
                    .vm-date__time-item {{ inputMinuts | pad }}

        .vm-date__footer(
            v-if="$_showFooter"
        )
            vm-button(
                @click="clear"
            ) Очистить
