.vm-menu
    .vm-menu__trigger(
        ref="trigger"
        @click="clickOnTrigger"
        @mouseover="mouseoverTrigger"
        @mouseout="mouseoutTrigger"
    )
        slot(
            name="trigger"
        )
    vm-popup(
        v-if="opened"
        v-bind="$attrs"
        ref="popup"
        @outside="clickOnOverlay"
        @mouseout.native="mouseoutContent"
        @outclick="onOutClick"
    )
        slot
